/*
 * Overrides CSS
 */

/*content allg*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    color: #082c57;

}

h1.content-h1 {
    color: #fa6101;
}
  
h1.content-h1 span {
    color: #082c57;
    text-transform: lowercase;
}

h3 {
    color: #fa6100;
    text-transform: uppercase;
}

a {
    transition: color 0.4s ease-in-out;
}

a:hover,
.impr-link a:hover {
    color: #fa6100;
}

.item-page h3 {
    line-height: 25px;
    margin-bottom: 30px;
}

.item-page p {
    font-size: 18px;
    line-height: 30px;
}

div.vcard p.fn,
div.vcard p.adr span.country-name {
    display: none;
}

div.vcard p.adr {
    line-height: 20px;
}

div.vcard p,
div.vcard a {
    font-size: 16px;
    color: #16375f;
    font-weight: bold;
}

div.site_wrapper {
      margin: 0 auto;
      padding: 15px 0 20px 0;
  }

section#header-section {
    margin-bottom: 40px;
}

section#bottom-section {

}

.page-header {
    border-bottom: none;
}

/*flPost*/

.flaschenpost {
    text-align: right;
    position: relative;
    top: 40px;
}

.flaschenpost img {
    width: 13%;
    box-shadow: 0px 10px 9px -8px #9C9C9C;
}

body.site .flaschenpost h3 {
    position: absolute;
    right: 20px;
    bottom: 55px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}

/*Sidebar*/

div#cat-sidebar div.span6 {
    position: relative;
    margin-bottom: 20px;
}

div#cat-sidebar h2.cat-h2 {
    position: absolute;
    bottom: 20px;
    right: 7px;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
}

div#cat-sidebar h2.cat-h2 span {
    color: #fa6100;
    text-transform: initial;
    font-size: 14px;
}

div#cat-sidebar div.span6 img {
    box-shadow: 0px 7px 9px -2px #9C9C9C;
}

div#module_92.kundenmeinungen {
    border: 2px solid #DADADA;
    background-color: #f8f7f7;
    padding: 0 20px;
    margin-bottom: 40px;
    min-height: 150px;
    box-shadow: 0px 7px 9px -2px #9C9C9C;
}

body.site .carousel-indicators li {
    background-color: rgba(181, 181, 181, 0.74);
}

body.site .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.74);
}

body.site .carousel-indicators {
    top: 55px;
}

div#module_92.kundenmeinungen h3,
body.site div.galerie h3.imgImpr a {
    color: #16375f;
    font-size: 14px;
}

h3.imgImpr {
    margin: 32px 50px 25px;
}


.custom.videoPlayer img {
    margin: 30px 0;
}

div#module_92.kundenmeinungen blockquote {
    margin: 0px;
}


/*Menü*/

ul.nav.menu.nav-pills {
    width: 100%;
    margin: 0px;
}

ul.nav.menu.nav-pills li.item-142 a,
ul.nav.menu.nav-pills li.item-141 a {
    padding: 7px 5px 5px 0px;    
}

ul.nav.menu.nav-pills li.item-142 {
    right: 0px;
}

ul.nav.menu.nav-pills li.item-141 {

    right: 60px;
}


div#module_1 {
    margin: 0px;
}

body.site .navbar .nav li:first-child a {
    padding: 10px 15px 10px 0px;
}

nav.navbar-wrapper {
    background: #f8f9fa;
}

nav.navbar-wrapper .container {
    margin: 20px auto;
}

body.site .navbar .navbar-inner {
    background: #f8f9fa;
    box-shadow: none;
    background-image: none;
    border: none;
}

body.site .navbar {
    margin: 0px;
}

body.site .navbar .nav>li>a {
    color: #0F2A55;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

body.site .navbar .nav>li>a:hover,
body.site div.galerie h3.imgImpr a:hover {
        color: #FA6101;
}

body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>.active>a:focus {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #FA6101;
}

.navbar-inner {
    min-height: 36px;
}



/*header*/

.header-wrapper {
    margin: 0 0 30px;
}

/*Resp overrides*/

@media (min-width: 1280px) {
  
  div.site_wrapper {
      width: 1580px;
  }
  
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
      width: 1200px;
  }
}




 /*Menue*/
.navbar .nav > li {
	display: inline-block;
}
 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}

/*footer*/

.impr-link {
    text-align: right;
    position: relative;
    bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.impr-link a {
    color: #082c57;    
}

/*social icons*/

ul.social-icons {
    text-align: center;
    margin: 0px auto;
    list-style: none;
}

body.site ul.social-icons li a  {
  display: inline-block;
  border-radius: 4px;
  background-image: none;
  transition: all 0.4s ease-in-out;            
}


body.site .icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 8px;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
}


body.site .icon-border {
  position: relative;
}

body.site .icon-border::before,
body.site .icon-border::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

body.site .icon-border::before {
  z-index: 1;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

body.site .icon-border::after {
  z-index: 2;
  background-color: transparent;
  /*background: url("../../../images/content/icons/icons4.png"); */
  background-image: url("../../../images/content/icons/icons4.svg"), none;
  background-size: cover;
  transition: background-color 0.6s ease-in-out;
}

body.site .icon-border:hover::after {
  background-color: rgba(188, 188, 188, 0.5);
}


/* facebook */
body.site .icon-border.facebook::before {
  box-shadow: inset 0 0 0 48px #3b5998;
}

body.site .icon-border.facebook:hover::before {
  box-shadow: inset 0 0 0 4px #3b5998;
}

body.site .icon-border.facebook::after {
  background-position: 0 0;
}


/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*
 * tmpl-Standards
 */

.site-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header {
  padding: 0;
}

.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    padding: 0;
}

.navbar-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
    z-index: 999;
}

/*pageLoader*/

.pageload-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.pageload-overlay.show {
  visibility: visible;
}

.pageload-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pageload-overlay svg path {
  fill: #B5D9F9;
}

.pageload-overlay::after,
.pageload-overlay::before {
  content: '';
  position: fixed;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
  transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
  background: #fa6101;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-animation: moveRight 0.6s linear infinite alternate;
  animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
  background: #4fc3f7;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-animation: moveLeft 0.6s linear infinite alternate;
  animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
  to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
  to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
  to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
  to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}